<div id = "contact">
  <h1 class ="contactt">BE IN TOUCH</h1>
  <div class ="contactM">
    <div class="contactNavBar">
      <p>If you don't see what you're looking for, or would like us to work with you on a custom design, feel free to be in touch!</p>
      <br>
       <a href="https://www.facebook.com/tanvo.traitim.796" target="_blank"><img src="/assets/fb.png" alt="Icon" ></a>
      <a href="https://www.facebook.com/tanvo.traitim.796" target="_blank"><img src="/assets/tw.png" alt="Icon" /></a>
      <a href="https://www.facebook.com/tanvo.traitim.796" target="_blank"><img src="/assets/gg.png" alt="Icon" /></a>
    </div>
    <div class = "contactContent">
      <input type="text" style=" width: 400px;" name="name" placeholder="Name">
      <br>
      <input type="mail" style=" width: 400px;" name="mail" placeholder="Email">
      <br>
      <input type="text" style=" width: 400px;" name="subject" placeholder="Subject">
      <br>
      <input type="text" style="min-height: 130px; width: 400px;" name="message" placeholder="Message">
    </div>
    <div class = "contactRight">
      <p>ADDRESS</p>
      <p>500 Terry Francois St. <br>San Francisco, CA 94158</p>
      <br>
      <p>TEL</p>
      <p>﻿123-456-7890</p>
      <br>
      <p>EMAIL</p>
      <p>info@mysite.com</p>
    </div>
  </div>
</div>