<div id="menu">
    <ul class = "headerNav">
      <li><a href="#">SHOP</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">WHERE TO BUY</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>

</div>

<div class ="faqq">
	<h1 class="faqtd">FAQ</h1>

	<p class ="faqtm">How Do I Place An Order?​</p>
	<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
	<br>
	<p class ="faqtm">Payment & Shipping</p>
	<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
	<p class ="faqtm">Secure Ordering & Payment Options</p>
	<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.﻿</p>
	<p class ="faqtm">Returns & Refunds</p>
	<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.​</p>

	<h3>Thank you for shopping with us!</h3>






</div>






<!--  ======================== Footer ======================= -->
<footer>
	Producted by Hanato TeamWork !!!
	<div class = "imgFooter">
	<a href="https://www.facebook.com/tanvo.traitim.796" target="_blank"><img src="/assets/fb.png" alt="Icon" ></a>
	<a href="https://www.facebook.com/tanvo.traitim.796" target="_blank"><img src="/assets/tw.png" alt="Icon" /></a>
	<a href="https://www.facebook.com/tanvo.traitim.796" target="_blank"><img src="/assets/gg.png" alt="Icon" /></a>
	</div>
</footer>
<!--  ======================== EndFooter ======================= -->