<div class='viewSp'>
  <a href='#'>Home</a>
  / Ten SP
  <div class='viewSpp'>
    <div class='viewSpLeft'>
      <img src='https://static.wixstatic.com/media/9c608a_1114fa93f14c4a90b41a04e21525b0b5.jpg/v1/fill/w_500,h_500,q_85,usm_0.66_1.00_0.01/9c608a_1114fa93f14c4a90b41a04e21525b0b5.jpg'>
      <p>
        I'm a product description. I’m a great place to include more information about your product. Buyers like to know what they’re getting before they purchase.
      </p>
    </div>
    <div class='viewSpRight'>
      <h2 class="viewSpTen">Ten SP</h2>
      <p>Ma SP</p>
      <h3>$Gia</h3>
      <p>Size</p>
      <select class ="viewSize" required=''>
        <option disabled='disabled' hidden='' selected='selected' value=''>Size</option>
        <option value='s'>S</option>
        <option value='m'>M</option>
        <option value='l'>L</option>
        <option value='xl'>XL</option>
        <option value='xxl'>XXL</option>
      </select>
      <p>Quanlity</p>
      <a class='btAddToCart' href='#'> ADD TO CART </a>
      <div class='wtbuyNgang'></div>
      <p>PRODUCT INFO</p>
      <div class='wtbuyNgang'></div>
      <p>RETURN AND REFUND POLICY</p>
      <div class='wtbuyNgang'></div>
    </div>
  </div>
  <div class="similarProduct">
    <p>SIMILAR PRODUCT</p>
  </div>
  <div class="col-sm-3">
  <article class="col-item">
    <div class="photo">
      <div class="options-cart-round">
        <button class="btn btn-default" title="Sale">
          <span class="fa fa-shopping-cart">SALE</span>
        </button>
        <div class="demo">
          <figure class="imghvr-slide-up">
            <img alt="example-image" src="https://static.wixstatic.com/media/9c608a_776ec1c844b5443a80042b83c52f0401.jpg/v1/fill/w_250,h_250,q_85,usm_0.66_1.00_0.01/9c608a_776ec1c844b5443a80042b83c52f0401.jpg">
              <figcaption>
                <h3>QUICK VIEW</h3>
              </figcaption>
              <a href="javascript:;"></a>
            </img>
          </figure>
          <div class="info">
            <div class="price-details col-md-6">
              <p class="idsp">
                id
              </p>
              <p class="details">
                name
              </p>
              <span class="price-new">
                price
              </span>
              <span class="price-sale">$10.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  </div>
    <div class="col-sm-3">
  <article class="col-item">
    <div class="photo">
      <div class="options-cart-round">
        <button class="btn btn-default" title="Sale">
          <span class="fa fa-shopping-cart">SALE</span>
        </button>
        <div class="demo">
          <figure class="imghvr-slide-up">
            <img alt="example-image" src="https://glofx.com/wp-content/uploads/2012/11/Red-Diffraction-Glasses.jpg">
              <figcaption>
                <h3>QUICK VIEW</h3>
              </figcaption>
              <a href="javascript:;"></a>
            </img>
          </figure>
          <div class="info">
            <div class="price-details col-md-6">
              <p class="idsp">
                id
              </p>
              <p class="details">
                name
              </p>
              <span class="price-new">
                price
              </span>
              <span class="price-sale">$10.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  </div>
    <div class="col-sm-3">
  <article class="col-item">
    <div class="photo">
      <div class="options-cart-round">
        <button class="btn btn-default" title="Sale">
          <span class="fa fa-shopping-cart">SALE</span>
        </button>
        <div class="demo">
          <figure class="imghvr-slide-up">
            <img alt="example-image" src="https://static.wixstatic.com/media/9c608a_436e9bc80a7b4e52905542c022564974.jpg/v1/fill/w_250,h_250,q_85,usm_0.66_1.00_0.01/9c608a_436e9bc80a7b4e52905542c022564974.jpg">
              <figcaption>
                <h3>QUICK VIEW</h3>
              </figcaption>
              <a href="javascript:;"></a>
            </img>
          </figure>
          <div class="info">
            <div class="price-details col-md-6">
              <p class="idsp">
                id
              </p>
              <p class="details">
                name
              </p>
              <span class="price-new">
                price
              </span>
              <span class="price-sale">$10.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  </div>
    <div class="col-sm-3">
  <article class="col-item">
    <div class="photo">
      <div class="options-cart-round">
        <button class="btn btn-default" title="Sale">
          <span class="fa fa-shopping-cart">SALE</span>
        </button>
        <div class="demo">
          <figure class="imghvr-slide-up">
            <img alt="example-image" src="https://static.wixstatic.com/media/9c608a_238f93bbe3764e2c8256c2124b18c5b0.jpg/v1/fill/w_250,h_250,q_85,usm_0.66_1.00_0.01/9c608a_238f93bbe3764e2c8256c2124b18c5b0.jpg">
              <figcaption>
                <h3>QUICK VIEW</h3>
              </figcaption>
              <a href="javascript:;"></a>
            </img>
          </figure>
          <div class="info">
            <div class="price-details col-md-6">
              <p class="idsp">
                id
              </p>
              <p class="details">
                name
              </p>
              <span class="price-new">
                price
              </span>
              <span class="price-sale">$10.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  </div>

</div>