- content_for :header do
  = render "partials/header"
- content_for :footer do
  = render "partials/footer"
.wtbuy
  %h1.hwtbuy WHERE TO BUY
  %br/
  .wtbuyMenu
    %p.pwtbuy Find our tees in these stores:
    .wtbuyNgang
    %div{class: "wtbuyy"}
      .wtbuyMot
        %h3 San Francisco
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
        %br
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
        %br
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
      .wtbuyHai
        %h3 San Francisco
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
        %br/
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
        %br/
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
      .wtbuyBa
        %h3 San Francisco
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
        %br/
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
        %br/
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
      .wtbuyBon
        %h3 San Francisco
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
        %br/
        %p
          Store Name
          500 Terry Francois St.
          San Francisco,
          CA 94158
