<div id="menu">
    <ul class = "headerNav">
      <li><a href="#">SHOP</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">WHERE TO BUY</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>

</div>





<!--  ======================== Footer ======================= -->
<footer>
	Producted by Hanato TeamWork !!!
	<div class = "imgFooter">
	<a href="https://www.facebook.com/tanvo.traitim.796" target="_blank"><img src="/assets/fb.png" alt="Icon" ></a>
	<a href="https://www.facebook.com/tanvo.traitim.796" target="_blank"><img src="/assets/tw.png" alt="Icon" /></a>
	<a href="https://www.facebook.com/tanvo.traitim.796" target="_blank"><img src="/assets/gg.png" alt="Icon" /></a>
	</div>
</footer>
<!--  ======================== EndFooter ======================= -->