!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Ubuntu", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %title Sign up
  %body
  .bodyMot
    .main{:align => "center"}
      %p.su Sign up
      %form.form1{:align => "center"}
        %input.first{:autofocus => "", :placeholder => "Full Name", :required => "", :type => "text"}/
        %input.mail{:placeholder => "Email Address", :required => "", :type => "email"}/
        %input.pass1{:placeholder => "Choose Password", :required => "", :type => "password"}/
        %input.pass2{:placeholder => "Retype Password", :required => "", :type => "password"}/
        %input#date.cal{:onfocus => "(this.type='date')", :placeholder => "Birthday", :required => "", :type => "text"}/
        %select.country{:required => ""}
          %option{:disabled => "disabled", :hidden => "", :selected => "selected", :value => ""} Country
          %option{:value => "volvo"} United Amirica
          %option{:value => "saab"} China
          %option{:value => "mercedes"} Viet Nam
          %option{:value => "audi"} Japan
          %option{:value => "audi"} India
          %option{:value => "audi"} England
        .gen
          %p Gendar:
          %input{:name => "gender", :type => "radio", :value => "male"}/
          Male
          %br/
          %input{:name => "gender", :type => "radio", :value => "female"}/
          Female
          %br/
          
        %input.submit{:align => "center", :type => "submit", :value => "Sign up"}/
    .bottom
      %p.mb{:align => "center"}
        %strong -
        Designed By
        %a{:href => "https://www.khaledmneimneh.me", :target => "_blank"}
          %span.mb-2 An Cap An Trom in uplaps.com
