%footer
  Producted by Hanato TeamWork !!!
  .imgFooter
    %a{:href => "https://www.facebook.com/tanvo.traitim.796", :target => "_blank"}
      %img{:alt => "Icon", :src => "/assets/fb.png"}/
    %a{:href => "https://www.facebook.com/tanvo.traitim.796", :target => "_blank"}
      %img{:alt => "Icon", :src => "/assets/tw.png"}/
    %a{:href => "https://www.facebook.com/tanvo.traitim.796", :target => "_blank"}
      %img{:alt => "Icon", :src => "/assets/gg.png"}/
