.main{:align => "center"}
  %p.su Sign in
  %form.form1{:align => "center"}
    %input.first{:autofocus => "", :placeholder => "Email Address", :required => "", :type => "text"}/
    %input.pass1{:placeholder => "Password", :required => "", :type => "password"}/

    %input.submit{:align => "center", :type => "submit", :value => "Sign in"}/
.bottom
  %p.mb{:align => "center"}
    %strong -
    Designed By
    %a{:href => "https://www.khaledmneimneh.me", :target => "_blank"}
      %span.mb-2 An Cap An Trom in uplaps.com
